# URL de conexión unificada con Docker
DATABASE_URL="postgresql://USUARIO:PASSWORD@localhost:5432/dofinanzas?schema=public"

# Clave secreta
JWT_SECRET="reemplazar_con_tu_secreto"

#Clave de API Gemini
GEMINI_API_KEY="reemplazar_con_api_key_de_google"

#ESTE ARCHIVO ES PARA QUE PUEDAS CONFIGURAR TU PROPIO ".env"